.navbar__container {
    @extend .container;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-brand {
    font-size: 36px;
}

.nav-link {
    font-family: 'Archivo Narrow', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
}